<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.menglin.invest.dao.InformationDao" >
  <resultMap id="BaseResultMap" type="com.menglin.invest.entity.Information" >
    <id column="news_id" property="newsId" jdbcType="INTEGER" />
    <result column="news_name" property="newsName" jdbcType="VARCHAR" />
    <result column="news_classification" property="newsClassification" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.menglin.invest.entity.Information" extends="BaseResultMap" >
    <result column="news_content" property="newsContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    news_id AS newsId, news_name AS newsName, news_classification AS newsClassification, add_time AS addTime, update_time AS updateTime
  </sql>
  <sql id="Blob_Column_List" >
    news_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_information
    where news_id = #{newsId,jdbcType=INTEGER}
  </select>
  
  
  <!-- 查询用户记录总数 -->
    <select id="selectCount" parameterType="java.util.Map" resultType="int">
        select count(*) from t_information  where 1=1
        <if test="newsClassification!=null  ">
          AND   news_classification   = #{newsClassification}  
        </if>
         <if test="startTime!=null and startTime !='' ">
          AND   update_time <![CDATA[>=]]> #{startTime} 
        </if>
           <if test="endTime!=null and endTime !='' ">
          AND   update_time <![CDATA[<=]]> #{endTime} 
        </if>
    </select>
    
  <!-- 分页查询start 和size查询数据 -->
  <select id="findByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_information    where 1=1
        <if test="newsClassification!=null  ">
          AND   news_classification   = #{newsClassification}  
        </if>
         <if test="startTime!=null and startTime !='' ">
          AND   update_time <![CDATA[>=]]> #{startTime} 
        </if>
           <if test="endTime!=null and endTime !='' ">
          AND   update_time <![CDATA[<=]]> #{endTime} 
        </if>
        ORDER BY update_time desc 
        <if test="start!=null and size!=null">
            limit #{start},#{size} 
        </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_information
    where news_id = #{newsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.menglin.invest.entity.Information" >
    insert into t_information (news_id, news_name, news_classification, 
      add_time, update_time, news_content
      )
    values (#{newsId,jdbcType=INTEGER}, #{newsName,jdbcType=VARCHAR}, #{newsClassification,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{newsContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.menglin.invest.entity.Information" >
    insert into t_information
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        news_id,
      </if>
      <if test="newsName != null" >
        news_name,
      </if>
      <if test="newsClassification != null" >
        news_classification,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="newsContent != null" >
        news_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        #{newsId,jdbcType=INTEGER},
      </if>
      <if test="newsName != null" >
        #{newsName,jdbcType=VARCHAR},
      </if>
      <if test="newsClassification != null" >
        #{newsClassification,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="newsContent != null" >
        #{newsContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.menglin.invest.entity.Information" >
    update t_information
    <set >
      <if test="newsName != null" >
        news_name = #{newsName,jdbcType=VARCHAR},
      </if>
      <if test="newsClassification != null" >
        news_classification = #{newsClassification,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="newsContent != null" >
        news_content = #{newsContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.menglin.invest.entity.Information" >
    update t_information
    set news_name = #{newsName,jdbcType=VARCHAR},
      news_classification = #{newsClassification,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      news_content = #{newsContent,jdbcType=LONGVARCHAR}
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.menglin.invest.entity.Information" >
    update t_information
    set news_name = #{newsName,jdbcType=VARCHAR},
      news_classification = #{newsClassification,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
</mapper>