<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.menglin.tripro.dao.MessageDao" >
  <resultMap id="BaseResultMap" type="com.menglin.tripro.entity.Message" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
  </resultMap>
  
    <resultMap id="QueryResultMap" type="com.menglin.tripro.entity.Message" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="identity" property="identity" jdbcType="INTEGER" />
    <result column="userPhone" property="userPhone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, order_id, title, content, money, state, addtime
  </sql>
  <!-- 带别名的查询字段 -->
   <sql id="Query_Column_List" >
    t.id, t.uid, t.order_id AS orderId, t.title, t.content, t.money, t.state, t.addtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 多表联合分页查询start 和size查询数据 -->
  <select id="findByPage" parameterType="Map" resultMap="QueryResultMap">
    select  
    <include refid="Query_Column_List" />, u.identity,u.user_phone AS userPhone
	from t_message  t 
	INNER  JOIN t_user u  
	ON t.uid=u.id  
	where 1=1
	 <if test="state!=null ">
	AND t.state = #{state}
	</if>
	 <if test="title!=null and title !='' ">
	AND title=#{title}
	</if>
	ORDER BY t.addtime desc 
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
  </select>
  
   <!-- 查询用户记录总数 -->
    <select id="selectCount" parameterType="Map" resultType="int">
        select  
    count(*)
	from t_message  t 
	INNER  JOIN t_user u  
	ON t.uid=u.id  
	where 1=1
	 <if test="state!=null ">
	AND t.state = #{state}
	</if>
	 <if test="title!=null and title !='' ">
	AND title=#{title}
	</if>
    </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.menglin.tripro.entity.Message" >
    insert into t_message (id, uid, order_id, 
      title, content, money, 
      state, addtime)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{money,jdbcType=DOUBLE}, 
      #{state,jdbcType=INTEGER}, #{addtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.menglin.tripro.entity.Message" >
    insert into t_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.menglin.tripro.entity.Message" >
    update t_message
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
    </set>；
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.menglin.tripro.entity.Message" >
    update t_message
    set uid = #{uid,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      money = #{money,jdbcType=DOUBLE},
      state = #{state,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>