<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.menglin.invest.dao.UserFeedbackDao" >
  <resultMap id="BaseResultMap" type="com.menglin.invest.entity.UserFeedback" >
    <id column="user_fed_id" property="userFedId" jdbcType="INTEGER" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="content_feedback" property="contentFeedback" jdbcType="VARCHAR" />
    <result column="versions" property="versions" jdbcType="VARCHAR" />
    <result column="equipment" property="equipment" jdbcType="VARCHAR" />
    <result column="sign" property="sign" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_fed_id, user_phone, content_feedback, versions, equipment, sign, add_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user_feedback
    where user_fed_id = #{userFedId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user_feedback
    where user_fed_id = #{userFedId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.menglin.invest.entity.UserFeedback" >
    insert into t_user_feedback (user_fed_id, user_phone, content_feedback, 
      versions, equipment, sign, 
      add_time)
    values (#{userFedId,jdbcType=INTEGER}, #{userPhone,jdbcType=VARCHAR}, #{contentFeedback,jdbcType=VARCHAR}, 
      #{versions,jdbcType=VARCHAR}, #{equipment,jdbcType=VARCHAR}, #{sign,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.menglin.invest.entity.UserFeedback" >
    insert into t_user_feedback
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userFedId != null" >
        user_fed_id,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="contentFeedback != null" >
        content_feedback,
      </if>
      <if test="versions != null" >
        versions,
      </if>
      <if test="equipment != null" >
        equipment,
      </if>
      <if test="sign != null" >
        sign,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userFedId != null" >
        #{userFedId,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="contentFeedback != null" >
        #{contentFeedback,jdbcType=VARCHAR},
      </if>
      <if test="versions != null" >
        #{versions,jdbcType=VARCHAR},
      </if>
      <if test="equipment != null" >
        #{equipment,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.menglin.invest.entity.UserFeedback" >
    update t_user_feedback
    <set >
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="contentFeedback != null" >
        content_feedback = #{contentFeedback,jdbcType=VARCHAR},
      </if>
      <if test="versions != null" >
        versions = #{versions,jdbcType=VARCHAR},
      </if>
      <if test="equipment != null" >
        equipment = #{equipment,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        sign = #{sign,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_fed_id = #{userFedId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.menglin.invest.entity.UserFeedback" >
    update t_user_feedback
    set user_phone = #{userPhone,jdbcType=VARCHAR},
      content_feedback = #{contentFeedback,jdbcType=VARCHAR},
      versions = #{versions,jdbcType=VARCHAR},
      equipment = #{equipment,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where user_fed_id = #{userFedId,jdbcType=INTEGER}
  </update>
</mapper>