.body{
	width: 100%;
}
.borders{
	margin-top: 10px;
	height: 20px;
	border-top: 1px solid #999;
	background: #eee;
	border-bottom: 1px solid #ccc;
}
body{
	background:#eee;
}
.body{
	background:#eee;
}
.ck{
	width: 50px;
	height: 50px;
	margin-top: 9%;
}
.item{
	background-color: #fff;	
}
.count span{
	text-align: center;
	float: right;
	display: block;
	width: 90px;
	 
}
.span_add,.span_cut{
	border:1px solid #c50a1d;
}
.span_num{
	border-top:1px solid #c50a1d;
	border-bottom:1px solid #c50a1d;
}
b{
	color: #f00;
}
.guige{
	font-size: 30px;
}
.shangpin{
	width: 60%;
}
.jiesuan{
	width: 100%;
	position: fixed;
	bottom: 110px;
}
.jiesuan span{
	width: 300px;
	text-align: center;
	float: right;
	background-color: #f00;
	color: #fff;
	height: 100px;
	line-height: 100px;
}
.jiesuan b{
	color: #f00;
}
input[type=checkbox] {
  position: relative;
  width: 50px;
  height: 1px;
}
input[type=checkbox]::before,
input[type=checkbox]::after {
  position: absolute;
  display: block;
  content: '';
  border-radius: 50%;
  transition: .3s all esae;
}
input[type=checkbox]::before {
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: 3px solid #ccc;
}
input[type=checkbox]::after {
  top: 5px;
  left: 5px;
  width: 45px;
  height: 45px;
  background-color: #fff;
}
input[type=checkbox]:checked::before {
  border-color: #F00;
}
input[type=checkbox]:checked::after {
  background-color: #F00;
}