@charset "UTF-8";

.pop-msg {
    text-align: center;
    border-radius: 3px;
    background-color: rgba(218,32,41,.7);
}

.pset {
    margin-bottom: 10px;
    padding: 0 12px;
    color: #666;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
.pset .pset-title {
    padding: 10px 0;
    font-size: 16px;
    border-bottom: 1px solid #dedede;
}
.pset .row {
    padding: 10px 4px;
    border-bottom: 1px solid #dedede;
}

.pset .split {
    border-bottom: 1px solid #dedede;
}

.pset .coupon-row {
    padding: 10px 4px;
}
.pset .coupon-row .row-r {
    float: right;
}
.pset p {line-height: 28px;}
.pset .row .row-r {float: right;}
.pset .row:last-child {border-bottom: none;}

.local-panel .local-list li[data-level="province"] span,
.local-panel .local-list li[data-level="city"] span,
.myorder .delivery-address {
    background: url(../img/arrow-r.png) right center no-repeat;
    background-size: 9px 14px;
}

/*header*/
.header {
    position: relative;
    height: 44px;
    line-height: 44px;
    background-color: #fff;
}

.header .btn-local {
    float: left;
    padding: 0 16px;
    color: #da2029;
}
.header .btn-local .ico-local {
    position: relative;
    top: -1px;
    width: 12px;
    height: 16px;
    margin-right: 4px;
    background-position: -60px -78px;
}
.header .btn-mine {
    float: right;
    padding: 0 16px;
    color: #000;
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe .swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe .swipe-wrap .item {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
}
.swipe .swipe-wrap .item a {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 40%;
}
.swipe .swipe-wrap .item img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.swipe .swipe-nav {
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    font-size: 0;
    text-align: center;
}
.swipe .swipe-nav i {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    line-height: 2em;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #999;
}
.swipe .swipe-nav i.on {border-color: #da2029;}


/*index*/

.recommend {
    display: -webkit-box;
    margin: 15px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
.recommend .block {
    width: 1px;
}
.recommend figure {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /*overflow: hidden;*/
}
.recommend figure .ico-cart,
.products figure .ico-cart {
    width: 29px;
    height: 29px;
    overflow: hidden;
    text-align: center;

    border-radius: 50%;
    background-color: rgba(235,73,73,1);
    background-size: 120px 120px;
    background-position: -84px -84px;

    /*background-position: -38px -105px;*/
}
.recommend figcaption {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
}
.recommend figcaption span {
    display: block;
    margin-bottom: 3px;
}
.recommend figcaption .title {margin-left: 27px;}
.recommend figcaption .prop {color: #666;}

.recommend .block.bl figure {padding: 65% 20% 8px 8px;}
.recommend .block.br figure {padding: 25% 60% 4px 4px;}
.recommend .block.bl figcaption {padding: 10px;}
.recommend .block.br figcaption {padding: 8px;}
.recommend .block.bl .title {
    max-height: 51px;
    overflow: hidden;
}
.recommend .block.br .title {
    max-height: 28px;
    overflow: hidden;
}
.recommend .block.br .prop {
    padding: 0;
    font-size: 11px;
}

.recommend .block.bl {
    -webkit-box-flex: 1;
    border-right: 1px solid #ccc;
}
.recommend .block.bl img,
.recommend .block.br img {width: 100%;}
.recommend .block.br {
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 11px;
}
.recommend .block.br .b-sub {
    -webkit-box-flex: 1;
    min-height: 108px;
    /*max-height: 107px;*/
}
.recommend .block.br .b-sub:first-child {border-bottom: 1px solid #ccc;}

/*.recommend .prod .cell {
    position: absolute;
}*/

.banner {
    margin: 15px 8px;
    /*border: .51px solid #ccc;*/
}
.banner img {width: 100%;}

.prod figcaption span {display: block;}
.prod .cell {
    position: relative;
    width: 100%;
    padding-top: 100%;
}
.recommend .prod img,
.products .prod img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.prod .prop {
    padding: 3px 0;
    color: #666;
    font-size: 11px;
}
.prod .price {
    color: #e70000;
    font-size: 12px;
}
.prod .price del {color: #999;}
.prod .price em {
    margin-left: 2px;
    font-size: 15px;
}

.products {
    padding: 0 8px;
    /*margin-bottom: 15px;*/
}
.products .row {
    display: -webkit-box;
    -webkit-box-align: stretch;
    margin-top: 10px;
}
.products .row:first-child {margin-top: 0;}
.products .row .prod {
    position: relative;
    -webkit-box-flex: 1;
    width: 100%;
    margin-right: 10px;
}
.products .row .prod:last-child {margin-right: 0;}

.products .prod figure {
    /*display: table;*/
    border: 1px solid #ccc;
    background-color: #fff;
}


/*.products figure .ico-cart {
    position: absolute;
    right: 6px;
    bottom: 6px;
    width: 42px;
    height: 21px;
    overflow: hidden;
    text-align: center;
    border-left: 1px solid #dedede;
    background-position: -28px -105px;
}*/
.products figcaption {
    padding: 6px;
    line-height: 1.2;
    /*border-top: 1px solid #ccc;*/
}
.products .prod .title {
    height: 51px;
    overflow: hidden;
}
.products .foo-meta {
    position: relative;
    height: 39px;
    margin: 0 10px;
    line-height: 39px;
    border-top: 1px dotted #ccc;
}
.products .foo-meta .ico-cart {
    position: absolute;
    right: 0;
    top: 5px;
}

.recommend .prod.promo,
.products .prod.promo {position: relative;}

.recommend .prod.promo:before,
.products .prod.promo:before {
    position: absolute;
    left: 5px;
    top: -1px;
    z-index: 2;

    content: "";
    width: 27px;
    height: 28px;
    color: #fff;
    background: url(../img/promo-tag.png) no-repeat;
    background-size: 27px 28px;
}


.float-cart-wrap {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 65px;
    height: 65px;
}
.float-cart {
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    background-color: rgba(235,73,73,.9);
    background-position: -81px -81px;

    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
}
.float-cart .total {
    position: absolute;
    left: -5px;
    top: -5px;
    padding: 0 1px;
    min-width: 20px;
    height: 20px;
    color: #da2029;
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.1);
}

.mycart .amount-bnr,
.myorder .confirm-bnr,
.address-list .footer {
    padding: 7px 14px;
    border-top: 1px solid #ccc;
    background-color: rgba(255,255,255,.9);
}

/* Cart Panel */
.mycart .amount-bnr {
    display: none;
    height: 36px;
    padding: 7px 14px 7px 90px;
    line-height: 36px;
    overflow: hidden;
}
.myorder .confirm-bnr {
    height: 36px;
    line-height: 36px;
    overflow: hidden;
}
.mycart .amount-bnr .money i,
.myorder .confirm-bnr i {
    color: #e70000;
    font-size: 12px;
}
.mycart .amount-bnr .money em,
.myorder .confirm-bnr .money em {
    margin-left: 2px;
    color: #e70000;
    font-size: 16px;
    font-weight: bold;
}
.mycart .amount-bnr .btn-payfor,
.myorder .confirm-bnr .btn-confirm {
    position: absolute;
    right: 14px;
    /*top: 8px;*/
    font-size: 15px;
    height: 36px;
    padding: 0 12px;
    line-height: 36px;
}
.mycart .check-all {
    position: absolute;
    left: 0;
    top: 7px;
    padding: 0 10px 0 44px;
    color: #666;
}

.mycart .empty-cart {display: none;}
.mycart .cart-tip {
    width: 250px;
    padding-top: 132px;
    margin: 120px auto 0 auto;
    color: #999;
    text-align: center;
    background: url(../img/cart-empty2.png) center top no-repeat;
    background-size: contain;
}
.mycart .goback {
    margin-top: 30px;
    text-align: center;
}
.mycart .btn-goback {padding: 0 30px;}

.cart-list {
    display: none;
    /*padding-bottom: 50px;*/
}
.cart-list .row {
    margin-top: 10px;
    overflow: hidden;

    /*support animate(), need to set height*/
    height: 94px;
    /*opacity: 1;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;*/
}
.cart-list .item {position: relative;}
.cart-list figure {
    height: 62px;
    padding: 15px 68px 15px 48px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.cart-list figure:before,
.mycart .check-all:before {
    content: "";
    position: absolute;
    left: 16px;
    top: 50%;
    width: 25px;
    height: 25px;
    margin-top: -12px;
    border-radius: 50%;
    border: 1px solid #999;
    background-color: #fff;
    box-sizing: border-box;
}
.cart-list figure.checked:before,
.mycart .check-all.on:before {
    border: none;
    background: #da2029 url(../img/icon.png) -28px -49px no-repeat;
    background-size: 126px 126px;
}
.cart-list .item img {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 8px;
    border: 1px solid #ccc;
}
.cart-list .item .price {
    position: absolute;
    right: 16px;
    top: 15px;
    color: #e70000;
    font-size: 12px;
    text-align: right;
}
.cart-list .item .price em {
    margin-left: 2px;
    font-size: 15px;
}
.cart-list .item .price del {
    display: block;
    color: #999;
}

.cart-list .item .title,
.cart-list .item .prop {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-list .item .ico-delete {
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 45px;
    height: 36px;
    background-position: -80px -47px;
}
.cart-list .item-amount {
    position: absolute;
    left: 106px;
    bottom: 5px;
    padding: 10px;
}
.cart-list .item-amount .icon,
.cart-list .item-amount .input {
    float: left;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.cart-list .item-amount .icon {
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.cart-list .item-amount .minus {background-position: 0 -50px;}
.cart-list .item-amount .plus {background-position: 0 -78px;}
.cart-list .item-amount .input {
    width: 30px;
    height: 23px;
    margin: 0 4px;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    border-color: #999;
}

/*订单列表*/
.myorder {padding-bottom: 50px;}
.myorder .inp {
    display: block;
    width: 100%;
    margin: auto;
    padding: 3px 5px;
    box-sizing: border-box;
}

.myorder .select {
    float: right;
    height: 28px;
    padding-right: 12px;
    font-size: 12px;
    text-align: right;
    border: none;
    background: url(../img/arrow-r.png) right center no-repeat;
    background-size: 9px 14px;
    direction: rtl;
}
.myorder .select option {text-align: right; direction: ltr;}
.myorder .invoice {position: relative;}
.myorder .invoice-title {
    display: none;
    margin-top: 10px;
}
.myorder .pay-method label {display: block;}
.myorder .pay-method input[type="radio"] {
    float: right;
    width: 24px;
    height: 24px;
    background-position: -18px -34px;
}
.myorder .pay-method .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    /*border-radius: 3px;*/
    /*border: 1px solid #ccc;*/
    background: url(../img/payfor.png) no-repeat;
    background-size: 22px 66px;
}
.myorder .pay-method .ico-alipay{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    /*border-radius: 3px;*/
    /*border: 1px solid #ccc;*/
    background: url(../img/alipay.png) no-repeat;
    background-size: 24px 24px;
}
.myorder .pay-method .ico-cash{
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    /*border-radius: 3px;*/
    /*border: 1px solid #ccc;*/
    background: url(../img/cash.png) no-repeat;
    background-size:cover;
}
.myorder .pay-method .ico-ticket{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    /*border-radius: 3px;*/
    /*border: 1px solid #ccc;*/
    background: url(../img/ticket.png) no-repeat;
    background-size:cover;
}
.myorder .pay-method .ico-ewallet{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    /*border-radius: 3px;*/
    /*border: 1px solid #ccc;*/
    background: url(../img/ticket.png) no-repeat;
    background-size:cover;
}
.myorder .pay-method .ico-wechatpay{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background: url(../img/wechat.png) no-repeat;
    background-size: 24px 24px;
    background-size:cover;
}


.order-list .row {
    position: relative;
    height: 52px;
}
.order-list .row span {display: block;}

.order-list .img {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
}
.order-list .info {margin: 0 45px 0 60px;}
.order-list .title {color: #333;}
.order-list .prop {
    color: #999;
    font-size: 11px;
    margin-top: 4px;
}
.order-list .price {
    color: #e70000;
    font-size: 12px;
    text-align: right;
}
.order-list .price em {
    margin-left: 2px;
    font-size: 15px;
}
.order-list .price del {
    display: block;
    color: #999;
}

.order-list .count {
    position: absolute;
    right: 0;
    top: 10px;
    color: #999;
    text-align: right;
}
.order-list .no-order {padding: 10px 4px;}

/*配送时间*/
.delivery-info .delivery-select {font-size: 11px;}
.delivery-wrap {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.4);
    border-top: 1px solid #ccc;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,.1);
}
.delivery-wrap .delivery-list {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #fff;
}
.delivery-wrap .delivery-list li {
    line-height: 28px;
}

/*订单地址*/
.delivery-address {
    min-height: 42px;
}
.delivery-address h4 {
    color: #333;
    font-size: 16px;
    font-weight: normal;
}
.delivery-address p {
    margin-top: 6px;
    color: #666;
    line-height: 1.3;
}
.delivery-address .name {margin-right: 50px;}
.delivery-address .no-adress {
    /*text-align: center;*/
    line-height: 42px;
}

.address-list {padding-bottom: 50px;}
.address-list .hd {
    margin: 10px 0;
    padding: 0 16px;
    color: #666;
    font-size:16px;
}

.address-list .no-address {
    margin: 10px 0;
    padding: 0 16px;
    color: #999;
    font-size: 12px;
}

.no-address-div{
    border-bottom: 1px solid RGB(204,204,204);
    padding-bottom:10px;
}

.no-address-div .no-address-des{
    /* margin: 10px 0; */
    padding: 0 16px;
    color: #999;
    font-size: 12px;
    float:left;
    width:190px;

}
.no-address-div .no-address-btn{
    float:right;
    width:90px;
    text-align:right;
    margin-right:16px;
}


.address-list .pset {
    padding: 0;
    margin: 10px 0;
}
.address-list .addr-item {
    position: relative;
    padding: 15px 48px 15px 16px;
}
.address-list .addr-item:after {
    content: "";
    position: absolute;
    right: 12px;
    top: 50%;
    width: 25px;
    height: 25px;
    margin-top: -12px;
    border-radius: 50%;
    border: 1px solid #999;
    background-color: #fff;
    box-sizing: border-box;
}
.address-list .selected:after {
    border: none;
    background: #da2029 url(../img/icon.png) -28px -49px no-repeat;
    background-size: 126px 126px;
}
.address-list .disabled {opacity: .4;}
.address-list .default .address:before {
    content: "[默认]";
    color: #e43735;
    margin-right: 5px;
}
.address-list .addr-item.disabled:after {display: none;}


.address-list .footer {text-align: center;}
.address-list .footer .btn {
    padding: 0 16px;
    color: #DA2029;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    font-weight: normal;
    border: solid 1px #DA2029;
    background-color: #fff;
}



.add-addr-btn {
    padding: 0 16px;
    color: #DA2029;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    font-weight: normal;
    border: solid 1px #DA2029;
    background-color: #fff;
}


/**/
.location .tips {padding: 20px 16px 15px 16px;}
.location .tips .ico-info {
    float: left;
    width: 20px;
    height: 20px;
    background-position: -94px -22px;
}
.location .tips p {
    margin-left: 28px;
    color: #da2029;
    font-size: 16px;
}
/*.local-panel {padding-top: 185px;}*/
/*.local-panel .static {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 185px;
    background-color: #f8f8f8;
}*/
.local-panel .hd {
    padding: 0 16px;
    line-height: 34px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f2f2f2;
}
.local-panel .current {
    min-height: 24px;
    padding: 10px 16px;
    line-height: 24px;
}
.local-panel .current:after {
    content: "";
    display: table;
    height: 0;
    clear: both;
}
.local-panel .current a {float: right;}
.local-panel .current .go-buy {margin-left: 10px;}

.local-panel .location-name:before {
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    width: 12px;
    height: 16px;
    background: url(../img/icon.png) -60px -78px no-repeat;
    background-size: 126px 126px;
}
.local-panel .location-name {
    float: left;
    position: relative;
    padding-left: 18px;
}
.local-panel .local-list li {
    padding: 0 16px;
    line-height: 44px;
    border-bottom: 1px solid #ccc;
}
.local-panel .local-list span {display: block;}
.local-panel .local-list .touched {background-color: #eee;}

/**/
.login {padding-top: 10px;}
.logo-bnr {
    width: 100%;
    background: url(../img/logo-bnr.png) top center no-repeat;
    background-size: contain;
}
.logo-bnr .auto-height {padding-top: 45%;}


.forms .field {margin-bottom: 10px;}
.forms .field:last-child {margin-bottom: 0;}
.forms .inp {
    position: relative;
    height: 44px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #dedede;
    background-color: #f2f2f2;
}
.forms .inp .icon {
    float:left;
    width: 44px;
    height: 44px;
}
.forms .inp input {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 30px 0 10px;
    color: #666;
    font-size: 15px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
}

.forms .inp .ico-clear {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 8px;
    top: 11px;
    background-position: -94px 0;
}
.forms .inp input:valid + .ico-clear {display: block;}

.login-form {padding: 10px 16px;}
.login-form .field {margin-bottom: 15px;}
.login-form .inp input {padding-left: 44px;}
.login-form .icon.username,
.login-form .icon.password {
    position: absolute;
    left: 0;
    top: 0;
    width: 44px;
    height: 44px;

    background-repeat: no-repeat;
    background-position: center;
}
.login-form .icon.username {background-position: 0 0;}
.login-form .icon.password {background-position: -48px 0;}

.login-form .btn-bar,
.reg-form .btn-bar {margin-top: 20px;}

.login-form .btn,
.reg-form .btn {
    display: block;
    width: 100%;
    border-radius: 22px;
}
.login-form .btn-reg {
    margin-top: 15px;
    color: #da2029;
    box-sizing: border-box;
    border: 1px solid #da2029;
    background-color: #fff;
}
.login-form .password-forget {
    margin-top: 15px;
    text-align: right;
}
.login-form .password-forget a {color: #999;}

/*register*/
.reg-form label {
    display: inline-block;
    line-height: 25px;
}
.reg-form input[type="radio"] {
    width: 24px;
    height: 24px;
    margin-top: -3px;
}
.reg-form input[type="radio"]:checked {background-position: -18px -35px;}
.reg-form .fieldset {
    padding: 30px 16px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
.reg-form .user-type {margin-top: 20px;}
.reg-form .user-type label {margin-right: 50px;}
/*.reg-form .user-type input[type="radio"]:checked {
    background: #da2029 url(../images/icon.png) no-repeat;
    background-size: 94.5px 94.5px;
    background-position: -21px -37px;
}*/
.reg-form .sent-to {text-align: center;}
.reg-form .re-send {
    position: absolute;
    right: -1px;
    top: -1px;
    height: 44px;
    width: 74px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 44px;
    border-radius: 0 3px 3px 0;
    background-color: rgba(51,51,51,.32);
}
.reg-form .re-send.active {background-color: rgba(231,0,0,.7);}
.reg-form .agreement {margin-bottom: 15px;}
.reg-form .agreement a {color: #da2029;}
.reg-form .agreement input[type="checkbox"]:checked {
    background: url(../img/icon.png) no-repeat;
    background-size: 94.5px 94.5px;
    background-position: -22px -59px;
}
.reg-form .btn-bar {padding: 0 16px;}


/*register agreement*/
.user-agreement {
    padding: 10px;
    color: #666;
    line-height: 2;
    font-size: 12px;
}
.user-agreement h1, .user-agreement h2, .user-agreement h3, .user-agreement p {margin: 15px 0;}
.user-agreement h1, h2 {font-size: 16px;}
.user-agreement h3 {font-size: 14px;}

.pay-success .tips {
    position: relative;
    width: 100%;
    padding-top: 64%;
    background: url(../img/pay-success.png) no-repeat;
    background-size: contain;
}
.pay-success .tips p {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #008460;
}
.pay-success .pay-info {
    padding: 7px 0;
    margin: 30px 16px 0 16px;
    line-height: 32px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.pay-success .pay-info .btn-order {
    float: right;
    color: #666;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 14px;
    font-weight: normal;
    border-radius: 16px;
    border: 1px solid #999;
    background-color: #fff;
}
.pay-success .pay-info .price {color: #999;}
.pay-success .pay-info .price em {
    color: #e70000;
    font-size: 16px;
}
.pay-success .pay-info .price small {margin-right: 3px;}

.detailTable {
    width:100%;
    margin:0 auto;
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
.detailTable td {
    border-width: 1px;
    padding: 2px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
.detailTable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
.ico-cart2 {
    width: 29px;
    height: 29px;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(235,73,73,1);
    background-size: 120px 120px;
    background-position: -84px -84px;
    /*background-position: -38px -105px;*/
}
.detailRow {
    border-top:1px dotted #ccc;
    text-align:center;
    /* max-width:200px */
    padding:4px;
    margin:4px;
    width:100%;
    margin:0 auto ;
    position:relative;
}
.detailLink {
    display:inline-block;
    cursor:Pointer;
    font-size: 11px;
    color:red;
}
.detailRow img{
    max-height:60%;
    max-width:40%;
}
.detailInfoSpan {
    width:43%;
    display:inline-block;
    text-align:left;
    word-break : break-all;
    padding-top:5px;
    padding-left:10px;
}

.detailInfoSpan1 {
    /* width:5%; */
    display:inline-block;
    text-align:left;
}