.menu_div{
	width: 33.3%;
	float: left;
	background: #eee;

}
/**
 * 底部菜单
 */
.menu{
	
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	border-bottom: 10px solid #eee;
}
.menu p{	
	height: 50px;
	line-height: 50px;
	text-align: center;
}

/**
 * 线
 */
.menu_span{
	color: #f00;
}
.menu_car{
	background: url("../img/icon_car.png") no-repeat center center;
}
.menu_home{
	background: url("../img/icon_home.png") no-repeat center center;
}
.menu_my{
	background: url("../img/icon_my.png") no-repeat center center;
}
.menu_car_click{
	background: url("../img/icon_car1.png") no-repeat center center;
}
.menu_home_click{
	background: url("../img/icon_home1.png") no-repeat center center;
}
.menu_my_click{
	background: url("../img/icon_my1.png") no-repeat center center;
}
.menu_span{
	display: block;
	height: 50px;
}
.car_num{
	color: #fff;
	position: fixed;
	left: 48%;
	border-radius: 30px;
	background:#f00;
	width: 65px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	opacity: 0.6;
}


