.top_menu li{
	float: left;
	width: 25%;
	text-align: center;
	height: 90px;
	



}
.top_menu span {
	padding-bottom: 10px;
	text-align: 32px;
}
.span_isck{
	border-bottom: 5px solid red;
	color: #f00;
}
.span_isckno{
	border-bottom: 5px solid #fff;
	color: #000;
}
.borders{
	margin-top: 10px;
	height: 20px;
	border-top: 1px solid #999;
	background: #eee;
	border-bottom: 1px solid #ccc;
}

.order_status{
	color: #f00;
}
.order_detail{
	background: #eee;
}
.order_name{
	width: 60%;
}
.order_detail img{
	margin-left:50px;
}
.order_heji{
	text-align: right;
}
button{
	margin-right: 20px;
	margin-left: 20px;
	border: 1px solid red;
	color: #f00;
	background: #fff;
	font-size: 40px;
	float: right;
}