html,body,h1,h2,h3,h4,ul,li,ol,dl,dt,dd,form,p,input,button,textarea,figure,figcaption {
    margin: 0;
    padding: 0;
}
body {
    color: #333;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    user-select: none;
    -webkit-user-select: none;
}

a,input,div,textarea {
    outline: none;
}
a {text-decoration: none;}

i, em {font-style: normal;}

ul,dl,ol {list-style: none;}
img {
    border: none;
    vertical-align: middle;
}
input, select, textarea {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    vertical-align: middle;
    background-color: #fff;
}

div, p, a, label, input, select, textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
select, input[type="radio"],
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    border: 1px solid #999;
    box-sizing: border-box;
}
input[type="radio"] {border-radius: 50%;}
input[type="checkbox"] {border-radius: 5px;}

input[type="radio"]:checked {
    border: none;
    background: #da2029 url(../img/icon.png) no-repeat;
    background-size: 94.5px 94.5px;
    background-position: -21px -37px;
}


/*html,body{width:100%;height:100%;min-height:100px;overflow:hidden;}*/

.dialog-wrap {
    display: table;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}
.dialog-wrap.confirm-wrap {background-color: rgba(0,0,0,.4);}
.dialog-wrap .dialog-panel {
    display: table-cell;
    vertical-align: middle;
}
.dialog-wrap .dialog-panel .pop-dialog {margin: auto;}
.dialog-wrap .dialog-panel .pop-msg {
    margin: auto 70px;
    padding: 30px 10px;
    color: #fff;
    font-size: 16px;

    text-align: center;
    border-radius: 3px;
    background-color: rgba(218,32,41,.7);
}
.dialog-confirm {
    margin: auto 37px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(255,255,255,.95);
}
.dialog-confirm .msg {
    padding: 30px;
    line-height: 1.5;
}
.dialog-confirm .btns {
    display: -webkit-box;
    border-top: 1px solid rgba(175, 172, 172, 0.3);
}
.dialog-confirm .btns .btn {
    -webkit-box-flex: 1;
    display: block;
    /*width: 50%;*/
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #0079ff;
    font-weight: normal;
    border-radius: 0;
    background-color: #fff;
    box-sizing: border-box;
}
.dialog-confirm .btns .btn:first-child {border-right: 1px solid rgba(175, 172, 172, 0.3);}
.dialog-confirm .btns .btn:last-child {border-right: none;}

.red {color: #ec4e43;}
.pop-label {width: 120px;}
.clear {clear: both}
.hide{diaply: none;}

.icon {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/icon.png?v2);
    background-repeat: no-repeat;
    background-size: 126px 126px;
}
.btn {
    display: inline-block;
    height: 44px;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 22px;
    background: #ee4c4c;
}

.btn.bright {
    background: #FFF;
    color: #6c6c6c;
    font-size: 16px;
    font-weight: normal;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.btn-switch {
    display: inline-block;
    position: relative;
    width: 56px;
    height: 28px;
    border-radius: 14px;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;

    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
}
.btn-switch i {
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    line-height: 99em;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.2);
    background-color: #fbfbfb;

    -webkit-transition: left .2s ease 0s;
    transition: left .2s ease 0s;
}
.btn-switch.on {
    border-color: #30a97e;
    background-color: #30a97e;
}
.btn-switch.on i {left: 28px;}

.btn:focus,
.btn:hover {opacity: .9;}
.btn[disabled] {opacity: .3;}

.inp,
.select {
    padding: 0 5px;
    font-size: 100%;
    line-height: 28px;
    border: 1px solid #ccc;
}

/*footer nav*/
.index,
.user-info {padding-bottom: 60px;}
.mycart {padding-bottom: 113px;}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 90;
    width: 100%;
    /*padding: 0 16px;*/
    box-sizing: border-box;
    /*border-top: 1px solid rgba(0,0,0,.2);*/
}
.foonav {
    display: -webkit-box;
    width: 100%;
    height: 50px;
    /*height: auto;*/
    font-size: 12px;
    line-height: normal;
    border-top: 1px solid #ccc;
    background-color: #f8f8f8;
}
.foonav .grid {
    -webkit-box-flex: 1;
    width: 100%;
    padding-top: 6px;
}
.foonav .item {
    display: block;
    /*width: 44px;*/
    /*margin: 0 20px;*/
    padding-bottom: 3px;
    color: #999;
    text-align: center;
    position: relative;
}
.foonav .item.current {color: #da2029;}

.special-my{
    height:50px;
    width:40px;
    margin:0 auto 0;
}

.red-point-div{
    position:relative;
    margin-left:-2px;
}


.circle-point{
    float:left;
    width: 10px;
    height: 10px;
    background-color: #da2029;
    color: white;
    text-align: center;
    border-radius: 100px;
    /*-webkit-border-radius: 100px;*/

}


.foonav .item span {
    display: block;
    padding-top: 3px;
}
.foonav .item .icon {
    width: 22px;
    height: 22px;
    background: url(../img/foonav.png);
    background-size: 80px 51px;
}
.foonav .home .icon {background-position: 0 0;}
.foonav .home.current .icon {background-position: 0 -29px;}

.foonav .cart {
    z-index: 98;
    position: relative;
}
.foonav .cart .total {
    display: none;
    position: absolute;
    left: 50%;
    top: -3px;
    z-index: 99;
    margin-left: 15px;
    padding: 0 5px;
    min-width: 12px;
    color: #fff;
    /*font-weight: bold;*/
    line-height: 16px;
    border-radius: 8px;
    background-color: #da2029;
    -webkit-transition: -webkit-transform .2s ease;
}
.foonav .cart .icon {background-position: -29px 0;}
.foonav .cart.current .icon {background-position: -29px -29px;}

.foonav .my .icon {background-position: -58px 0;}
.foonav .my.current .icon {background-position: -58px -29px;}


/*loading*/
.loading {
    position: fixed;
    left: 0;
    top: 0;
    display: table;
    width: 100%;
    height: 100%;
}
.loading .inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.loading .panel {
    width: 110px;
    margin: auto;
    padding: 20px 0 15px 0;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.6);
}
.loading .txt {margin-top: 15px;}
.loading .tick-tock {
    position: relative;
    width: 20px;
    height: 20px;
    margin: auto;
}
.loading .tick-tock span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20%;
    height: 40%;
    margin-left: -10%;
    margin-top: -20%;
    opacity: 0;
    border-radius: 20px;
    background-color: #fff;

    -webkit-animation: loading 1s linear infinite;
}
.loading .tick-tock .t1 {
    -webkit-transform: rotate(0deg) translate(0,-142%);
    -webkit-animation-delay: 0s;
}
.loading .tick-tock .t2 {
    -webkit-transform: rotate(30deg) translate(0,-142%);
    -webkit-animation-delay: -.9167s;
}
.loading .tick-tock .t3 {
    -webkit-transform: rotate(60deg) translate(0,-142%);
    -webkit-animation-delay: -.833s;
}
.loading .tick-tock .t4 {
    -webkit-transform: rotate(90deg) translate(0,-142%);
    -webkit-animation-delay: -.75s;
}
.loading .tick-tock .t5 {
    -webkit-transform: rotate(120deg) translate(0,-142%);
    -webkit-animation-delay: -.667s;
}
.loading .tick-tock .t6 {
    -webkit-transform: rotate(150deg) translate(0,-142%);
    -webkit-animation-delay: -.5833s;
}
.loading .tick-tock .t7 {
    -webkit-transform: rotate(180deg) translate(0,-142%);
    -webkit-animation-delay: -.5s;
}
.loading .tick-tock .t8 {
    -webkit-transform: rotate(210deg) translate(0,-142%);
    -webkit-animation-delay: -.41667s;
}
.loading .tick-tock .t9 {
    -webkit-transform: rotate(240deg) translate(0,-142%);
    -webkit-animation-delay: -.333s;
}
.loading .tick-tock .t10 {
    -webkit-transform: rotate(270deg) translate(0,-142%);
    -webkit-animation-delay: -.25s;
}
.loading .tick-tock .t11 {
    -webkit-transform: rotate(300deg) translate(0,-142%);
    -webkit-animation-delay: -.1667s;
}
.loading .tick-tock .t12 {
    -webkit-transform: rotate(330deg) translate(0,-142%);
    -webkit-animation-delay: -.0833s;
}
@-webkit-keyframes loading {
    0% {opacity: 1;}
    100% {opacity: .25;}
}

.red-point{
    display: none;
    width:10px;
    height:10px;
    left: 50%;
    padding: 0px;
    position: absolute;
    min-width: 10px;
    top: -3px;
    z-index: 99;
    margin-left: 15px;
    color: #fff;
    /* font-weight: bold; */
    line-height: 16px;
    border-radius: 8px;
    background-color: #da2029;
    -webkit-transition: -webkit-transform .2s ease;
}