/*CSS初始化*/
body,ul,li,button{
    margin: 0;
    padding: 0;
    background: #eee;
    border: 0;
}
.box{
    margin: 0 auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}


/*添加商品图片*/
.add_image{
    /*background-color: red;*/
    /*width: 121px;*/
    height: 136px;
}

.fileInputContainer{
    margin: 20px 10px 20px 10px;
    width: 101px;
    height:96px;
    /*background-color: red;*/
    -webkit-appearance: none;
    background:url("../img/addImage.png") no-repeat center;
    /*position:relative;*/
}
.fileInput1,.fileInput2,.fileInput3{
    height:96px;
    width: 101px;
    /*background-color: red;*/
    overflow: hidden;
    /*position:absolute;*/
    right:0;
    top:0;
    opacity: 0;
    filter:alpha(opacity=0);
    cursor:pointer;
}

/*图片预览功能*/
.preview{
    /*background-color: blue;*/
    text-align: center;
    /*width:101px;*/
    /*height:96px;*/
}




.productImg1,.productImg2,.productImg3{
    /*background-color: aqua;*/
    width:200px;
    height: 200px;
    margin-right: 20px;
    /*float: left;*/
}
