body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #eee;
}
.fl{
    float: left;
}
.rl{
    float: right;
}

/*支付标题头*/
.headerBox{
    background-color: #fff;
    text-align: center;
    font-size: 40px;
    color: #18ad19;
    line-height: 100px;
    height: 100px;
}
/*支付标题头结束*/


/*中间支付信息开始*/

.contentBox{
    margin: 30px 0;
    background-color: #fff;
    font-size: 30px;
    color: #000000;
}
.contentBox .contentTable{
     margin: 0px 48px;
 }
.contentBox .commodityName{
    line-height:120%;
}
.contentBox .payTitle{
    width: 180px;
}
.money{
    color: #ff0000;
}
.tips{
    text-align: center;
    font-size: 22px;
    color: #949494;
}
/*中间支付相关信息结束*/