@charset "UTF-8";

/**

*/
#score-count{
    float:right;
    width:200px;
    line-height: 48px;
    height:48px;
}

#score-count .score{
    float:right;
    color:#999;
    margin-right:15px;
    font-size:14px;
}

#orderInfo{
    background-color:#0a6243;
    width:100%;
    height:85px;
}

#orderInfo ._left{
    float:left;
    height:85px;
    min-width:120px;

}

#orderInfo .l1{
    margin-top:15px;
    margin-bottom:0px;
    font-size:16px;
    height:16px;
}
#orderInfo .l2, .l3{
    font-size:12px;
    height:12px;
    line-height:18px;
}

#water-info img{
    height:100px;
    width:100%;
}



#footer {
    border-top:solid 1px RGB(204,204,204);
    border-bottom:solid 1px RGB(204,204,204);
    height:44px;
    background-color: #fff;
    z-index:2;
    position:fixed;
    bottom:0px;
    width:100%;
    overflow:hidden;
    padding:6px auto;
}

/**
  解决IOS底部固定栏在键盘弹出时位置错误的问题
*/

.ios-fixed-help{
    /* position:fixed;
    top:1px;
    bottom:10px;
    overflow:scroll; */
}



a{color: #999;}
p{
    color:#666;
}

.water-info{
    line-height:20px;
    font-size:10px;
}
.about-us{
    line-height:20px;
}

.description{
    line-height:20px;
}


.addrSelect{
    background-color:#f8f8f8;
    font-size:14px;
    color:#999;
    width:32%;
    padding: 0 5px;
    height:32px;
    /* font-size: 100%; */
    line-height: 28px;
    border-radius:0.2em;
    border: 1px solid #ccc;
}
.size14{font-size:14px;line-height:28px;}
.size16{font-size:16px;line-height:32px;}
.size18{font-size:18px;line-height:36px;}


/* /dsafdsfadfa */


.top10{margin-top:10px;}
.top30{margin-top:30px;}
.right4{margin-right:4px;}
.right10{margin-right:10px;}
.right16{margin-right:16px;}
.left10{margin-left:10px;}
.left16{margin-left:16px;}

.red{color:#DA2029;}
.f-left{float:left;}
.f-right{float:right;}

._hide{display:none;}


.border-bottom-222{border-bottom:solid 1px RGB(222,222,222);}
.border-bottom-204{border-bottom:solid 1px RGB(204,204,204);}
.border-top-222{border-top:solid 1px RGB(222,222,222);}
.border-top-204{border-top:solid 1px RGB(204,204,204);}


@media screen and (min-width:959px){
    .auto-width-1{
        max-width:650px;
    }
    .auto-width-2{
        max-width:700px;
    }
}

/* 窗口宽度<960,设计宽度=768 */
@media screen and (max-width:959px){
    .auto-width-1{
        max-width:540px;
    }

    .auto-width-2{
        max-width:680px;
    }

}
/* 窗口宽度<768,设计宽度=640 */
@media screen and (max-width:767px){
    .auto-width-1{
        max-width:320px;
    }

    .auto-width-2{
        max-width:580px;
    }
}
/* 窗口宽度<640,设计宽度=480 */
@media screen and (max-width:639px){
    .auto-width-1{
        max-width:220px;
    }
    .auto-width-2{
        max-width:400px;
    }

}
/* 窗口宽度<480,设计宽度=320 */
@media screen and (max-width:479px){
    .auto-width-1{
        max-width:150px;
    }

    .auto-width-2{
        max-width:270px;
    }

}






/**
    菜单上方设置、title、更多   样式
*/
.set{
    margin-top:10px;
    margin-bottom:10px;
    padding-right:0px;
    width: 100%;
}
.set .setting{
    float:left;
    width:30%;
    height:22px;

}
.set .setting .pic{
    margin-left:16px;
    height:22px;
    width:22px;
    background: url(../img/nf.user.png) no-repeat -4px -2px;
    background-size:200px 200px;

}

.set .title{
    float:left;
    width:40%;
    margin:0 0 0 0;
    text-align:center;
    line-height:22px;
    font-size:18px;
    color:#333;
}

.set .more{
    float:right;
    height:22px;
    line-height:22px;
    padding-right:0px;
    width:30%;
    text-align:right;

}

.set .more .pic{
    width:22px;
    height:6px;
    float:right;
    margin-right:16px;
    margin-top:8px;
    text-align:right;
    background: url(../img/nf.user.png) -4px -30px no-repeat;
    background-size:200px 200px;
}


.user-bg{
    width: 100%;
    height:98px;
    text-align:left;
    margin-top: 0px;
    background: url(../img/user-bg.png) top center no-repeat;
    background-size: 100% 100%;
}


.user-pic{
    float:left;
    margin-top:12px;
    margin-left:16px;
    height:73px;
    width:73px;
    overflow:hidden;
    background: url(../img/nf.user.png) -125px -115px no-repeat;
    background-size:200px 200px;
}

.nickname{
    /* float:left; */
    /* padding-top:20px; */
    line-height:98px;
    margin-left:10px;
    font-size:19px;
    color:#fff;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow:hidden;
}

.bar-ope{
    margin-top:0px;
    background-color:#fff;
    color:#999;
    text-align:center;
}
.list-ope{
    padding-top:16px;
    margin-left:10px;
    margin-right:10px;
    color:#999;
}
.btn-ope{
    text-align:center;
    width:33.3333%;
    float:left;
}

.ico-ope{
    margin: auto;
    height:22px;
    width:22px;
}
.tit-ope{
    margin-top:10px;
    margin-bottom:10px;
    font-size:12px;
    color:#999;
}
.tit-ope span{
    font-size:10px;
}



/**
  背景图标
*/
.bg-ico{
    position: relative;
    top:50%;
    margin-top:-11px;
}

.dfk{
    width:22px;
    height:22px;
    background: url(../img/nf.user.png) -33px -35px no-repeat;
    background-size:200px 200px;
}
.dsh{
    width:22px;
    height:22px;
    background: url(../img/nf.user.png) -33px -64px no-repeat;
    background-size:200px 200px;
}
.dpj{
    width:22px;
    height:22px;
    background: url(../img/nf.user.png) -33px -95px no-repeat;
    background-size:200px 200px;
}
.th{
    width:22px;
    height:22px;
    background: url(../img/nf.user.png) -33px -125px no-repeat;
    background-size:200px 200px;
}
.all-order{
    width:22px;
    height:22px;
    background: url(../img/nf.user.png) -33px -157px no-repeat;
    background-size:200px 200px;
}
.my-addr{
    width:22px;
    height:22px;
    background: url(../img/nf.user.png) -69px -2px no-repeat;
    background-size:200px 200px;
}
.myfp{
    width:22px;
    height:22px;
    background: url(../img/nf.user.png) -69px -36px no-repeat;
    background-size:200px 200px;
}
.my-score{
    width:22px;
    height:22px;
    background-size:200px 200px;
}

.my-conpou{
    width:22px;
    height:22px;
    background-size:200px 200px;
}


.my-wallet{
    width:22px;
    height:22px;
    background: url(../img/nf.user.png) -69px -64px no-repeat;
    background-size:200px 200px;
}
.my-promotion{
    width:22px;
    height:22px;
    background: url(../img/nf.user.png) -69px -95px no-repeat;
    background-size:200px 200px;
}

.my-share{
    width:22px;
    height: 22px;
    background: url(../img/icon_share.png) no-repeat;
}
/**
 右箭头
*/
.right-jt{
    position: relative;
    top:50%;
    margin-top:-7px;
    float:right;
    width:14px;
    height:14px;
    background: url(../img/nf.user.png) -4px -43px no-repeat;
    background-size: 200px 200px;
}

/**
   列表项
*/
.list{
    background-color:#fff;
    height:48px;
    line-height:48px;
    font-size:16px;
    color:#666;
}

.content{
    height:48px;
    line-height:48px;
    margin-left:12px;
    margin-right:12px;
}


.in_content{
    height:48px;
    line-height:48px;
    margin-left:16px;
    margin-right:16px;
}
.content .title{
    float:left;
    font-size:16px;
    color:#666;
}

.content  input{
    width:100%;
    height:42px;
    font-size:16px;
    color:#333;
    border:1px solid Rgb(222,222,222);
}


/* tab页 */
.tabs{
    height:44px;
    width:100%;
    background-color:#fff;
    border-bottom:solid 1px RGB(222,222,222);
    border-top:solid 1px RGB(222,222,222);
}

.tab-list{margin:0 12px 0 12px;}

.tabs .tab-tit{
    float:left;
    font-size:14px;
    width:25%;
    line-height:44px;
    height:42px;
    text-align:center;
    color:#999;
}
.tabs .tab-tit span{
    font-size:11px;
}

#addrList .selected1{
    background-color:#FFF7F7;
}

.tab-list .selected{
    color: #DA2029;
    border-bottom:solid 2px #DA2029;
}
.order{
    margin-top:10px;
    margin-bottom:0px;
    background-color:#fff;
    border-top:solid 1px RGB(204,204,204);
    border-bottom:solid 1px RGB(204,204,204);
    width:100%;
    height:auto;
}
.order .time-div{
    height:34px;
    width:100%;
    border-bottom:solid 1px RGB(204,204,204);
}
.order .time-div .start{
    float:left;
    line-height:34px;
    font-size:14px;
    color:#666;
    margin-left:16px;
}
.order .time-div .status{
    float:right;
    margin-right:16px;
    height:34px;
}
.order .time-div .status .clock{
    float:left;
    position:relative;
    top:50%;
    margin-top:-8px;
    margin-right:5px;
    height:16px;
    width:16px;
    background: url(../img/nf.user.png) no-repeat -69px -126px;
    background-size:200px 200px;
}
.order .time-div .status .des{
    float:right;
    font-size:12px;
    color:#DA2029;
    line-height:34px;
}

.items{
    width:100%;
}

.item{
    margin:0px 12px 0px 12px;
    height:70px;
    border-bottom:solid 1px RGB(222,222,222);
}
.item .pic{
    float:left;
    margin:10px 10px 10px 2px;
    width:50px;
    height:50px;
}

.item .pic img{
    width:50px;
    height:50px;
}

.order .more{
    height:44px;
    margin:0px 12px 0px 12px;
    border-bottom:solid 1px RGB(222,222,222);
    font-size:12px;
    color:#999;
    text-align:center;
    line-height:44px;
}

.product{
    overflow:auto;/* 两个内部DIV占满一个外部DIV时需要设置这个属性*/
    height:70px;
    margin:0px 4px 0px 0px;

}

.product .name-price{
    margin:0px 0px 0px 0px;
    font-size:14px;
    height:18px;
    line-height:18px;
    margin-top:10px;
    margin-bottom:0px;
    color:#333;
    width:100%;
}
.product .gg-num{
    font-size:12px;
    margin-top:6px;
    margin-bottom:14px;
    line-height:16px;
    height:16px;
    color:#999;
}
.name-price .name{
    float:left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    height:18px;
    line-height:18px;
}
.relative{
    position: relative;
}



.name-price .price{
    min-width:60px;
    width:80px;
    float:right;
    text-align:right;
    margin-right:0px;
    height:20px;
    line-height:20px;
}

.gg-num .gg{
    float:left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    line-height:16px;
    height:16px;
}


.gg-num .num{
    min-width:60px;
    width:100px;
    float:right;
    text-align:right;
    margin-right:0px;
    line-height:18px;
    height:18px;
}


.pay{
    height:44px;
    width:100%;
}
.pay .btns{
    height:44px;
    float:left;
    overflow:hidden;
    padding-left:16px;
}

.pay .money{
    height:44px;
    line-height:44px;
    text-align:right;
    margin-right:16px;
}
.pay .money .sp1{
    font-size:14px;
    color:#999;
}

.pay .money .sp2{
    font-size:14px;
    color:#999;
    color: #da2029;
    font-weight:bold;
}


.pay .money{
    float:right;
}

.comment .des{
    color:#008460;
}

.btn1{
    position:relative;
    top:50%;
    margin-top:-16px;
    height:32px;
    padding-left:15px;
    padding-right:15px;
    display: block;
    border-radius: 22px;
    font-size: 14px;
    cursor: pointer;
    background: #fff;
}

.btn2 {
    display: inline-block;
    height: 38px;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 22px;
    background: #ee4c4c;
}


.btns{
    height:44px;
    margin:auto;
}



.btns .enable{
    border:solid 1px #DA2029;
    color: #DA2029;
    cursor: pointer;
}

.btns .disabled{
    border:solid 1px #999;
    color: #999;
    cursor: pointer;
}

#pms{
    width:100%;
}

.promotion{
    width:100%;
    overflow: hidden;
    background-color:#fff;
    margin-top:15px;
}
.promotion .pic{
    position:relative;
    margin:15px 16px;
}
.promotion .pic img{
    width:100%;
    min-height:100px;
    max-height:165px;
}
.promotion .promotion-name{
    margin-left:16px;
    margin-right:16px;
    font-size:14px;
    color:#333;
}
.promotion .promotion-time{
    margin-left:16px;
    margin-right:16px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:12px;
    color:#666;
}
.promotion .promotion-time span{
    font-size:12px;
    color:#DA2029;
}

.text{
    margin-left:0px;
    margin-right:0px;
    padding-left:16px;
    padding-right:16px;
    background-color:#fff;

}

.water-function1{
    margin: auto;
    height:52px;
    width:43px;
    background: url(../img/nf.bg2.png) no-repeat -2px -3px;
    background-size:200px 200px;
}
.water-function2{
    margin: auto;
    height:52px;
    width:43px;
    background: url(../img/nf.bg2.png) no-repeat -2px -59px;
    background-size:200px 200px;
}
.water-function3{
    margin: auto;
    height:52px;
    width:43px;
    background: url(../img/nf.bg2.png) no-repeat -2px -119px;
    background-size:200px 200px;
}
.water-function4{
    margin: auto;
    height:52px;
    width:43px;
    background: url(../img/nf.bg2.png) no-repeat -56px -3px;
    background-size:200px 200px;
}

.water-function5{
    margin: auto;
    height:52px;
    width:43px;
    background: url(../img/nf.bg2.png) no-repeat -56px -59px;
    background-size:200px 200px;
}
.water-function6{
    margin: auto;
    height:52px;
    width:43px;
    background: url(../img/nf.bg2.png) no-repeat -56px -119px;
    background-size:200px 200px;
}



.tit{
    height:36px;
    line-height:36px;
}
.options{
    /* height:36px; */
    width:100%;
}



.order-comment{
    margin-left:2px;
    margin-right:2px;
    border-bottom:dashed  1px RGB(222,222,222);
}

.order-comment-tit{
    line-height:32px;
    width:100%;
    font-size:16px;
}

.comment{
    margin-top:3px;
    margin-bottom:3px;
    float:left;
    height:30px;
    border:1px solid transparent;
}

.comment .des{
    color:#008460;
    overflow: hidden;
    max-width:64px;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.time{
    margin-top:20px;
    margin-left:12px;
    margin-right:12px;
    height:76px;
    border-bottom:dashed 1px RGB(222,222,222);
    font-color:#999;
}


.attitude{
    margin-left:8px;
    border-bottom:dashed  1px RGB(222,222,222);
    font-color:#999;
}

.comment .bg{
    margin-top:7px;
    float:left;
    height:16px;
    width:16px;
    margin-left:3px;
}
.des{
    height:30px;
    line-height:30px;
}

.comment .bg1{
    background: url(../img/nf.user.png) no-repeat -105px -2px;
    background-size:200px 200px;
}

.comment .bg2{
    background: url(../img/nf.user.png) no-repeat -105px -27px;
    background-size:200px 200px;
}

.comment .bg3{
    background: url(../img/nf.user.png) no-repeat -105px -49px;
    background-size:200px 200px;
}

.comment .bg4{
    background: url(../img/nf.user.png) no-repeat -105px -70px;
    background-size:200px 200px;
}

.comment .att1{
    background: url(../img/nf.user.png) no-repeat -105px -95px;
    background-size:200px 200px;
}

.comment .att2{
    background: url(../img/nf.user.png) no-repeat -105px -119px;
    background-size:200px 200px;
}

.comment .att3{
    background: url(../img/nf.user.png) no-repeat -105px -142px;
    background-size:200px 200px;
}


#service .selected, #onTime .selected{
    border:1px solid #DA2029;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
/*
.content{
    margin-left:16px;
    margin-right:16px;
    margin-top:30px;
} */


.addrItem{
    /*height: 109px;*/
    border-top: 1px solid RGB(204,204,204);
    border-bottom:1px solid RGB(204,204,204);
    margin:10px 0;
    background-color:#fff;
}
.addrItem.disabled .name_addr_content {opacity: .4;}

.addrItem .detail{
    margin-left:12px;
    margin-right:12px;
}

.addrItem .name{
    /* height:42px; */
    line-height:42px;
    font-size:16px;
    color:#666;
    padding-left:4px;
    padding-right:4px;
}

.addrItem .addr{
    line-height:22px;
    font-size:12px;
    color:#999;
    padding-left:4px;
    padding-right:4px;
    border-bottom:1px solid RGB(222,222,222);
}


.addrItem .btnDiv{
    height:44px;
    padding-left:4px;
    padding-right:4px;
}

.addrItem .btnDiv .b1{
    width:100px;
    float:left;
}
.addrItem .btnDiv .b2{
    width:60px;
    float:right;
}
.addrItem .btnDiv .b3{
    width:100px;
    float:right;
}

.addrItem  .b1 .pic{
    margin-top:9px;
    margin-right:10px;
    float:left;
    width:25px;
    height:25px;

    background: url(../img/nf.user.png) -134px -54px no-repeat;
    background-size: 200px 200px;
}
.addrItem .b1 .selected{background-position: -134px -86px;}

.addrItem .b3 .pic{
    margin-top:13px;
    margin-right:5px;
    float:left;
    width:18px;
    height:18px;
    background: url(../img/nf.user.png) -134px -2px no-repeat;
    background-size:200px 200px;
}

.addrItem .b2 .pic{
    margin-top:11px;
    margin-right:5px;
    float:left;
    width:18px;
    height:21px;
    background: url(../img/nf.user.png) -134px -28px no-repeat;
    background-size:200px 200px;
}
.addrItem .des{
    height:44px;
    line-height:44px;
}
#add-addr-div input{
    border:none;
    background-color:#f8f8f8;
}

#mainAddr{
    text-align:center;
    float:left;
    width:100%;
    font-size:18px;
    color:#333;
}


#mainAddr-line-map{
    position: relative;
    top:50%;
    margin-top:-43px;
    float:right;
    margin-right:16px;
    height:86px;
}
#mainAddr-line-map hr{
    text-align:center;
    width:1px;
    border-width:0;
    background-color:RGB(204,204,204);
    height:100%;
}



.map{
    position: relative;
    top:50%;
    margin-top:-22px;
    margin-right:16px;
    float:right;
    width:24px;
    font-size:11px;
    color:#666;
}
.map .des{
    width:24px;
    height:22px;
    line-height:22px;

}

.mapPic{
    margin-top:3px;
    margin-left:4px;
    width:15px;
    height:19px;
    text-align:right;
    background: url(../img/nf.user.png) -69px -150px no-repeat;
    background-size:200px 200px;
}

._left div{
    margin-left:16px;
    margin-right:0px;
    color:#fff;
}

.l2{
    margin-top:10px;
}
.l3{
    margin-top:5px;
    margin-bottom:15px;
}
.orderInfo ._right{
    height:85px;
    overflow:hidden;
}
._right div{
    margin-top:15px;
    font-size:14px;
    color:#fff;
    margin-right:16px;
    text-align:right;
}

.showMoreOrder{
    background-color:#fff;
    margin-top:2px;
    width:100%;
    height:44px;
    text-align:center;
    line-height:44px;
    color:#999;
    border-top:solid 1px RGB(204,204,204);
    border-bottom:solid 1px RGB(204,204,204);
}

.userInfo{
    width:100%;
    background-color:#fff;
    border-bottom:solid 1px RGB(204,204,204);
}
.userInfo .detail{
    overflow:hidden;
    margin:0px 0px 15px 0px;
}
.userInfo .detail .name{
    margin-top:15px;
    margin-right:16px;
    padding-left:16px;
    color:#333;
    font-size:18px;
}
.userInfo .detail .addr{
    margin-top:16px;
    margin-right:16px;
    padding-left:16px;
    line-height:18px;
    font-size:16px;
    color:#999;
}


.userInfo .more{
    width:14px;
    margin-right:16px;
    margin-left:0px;
    float:right;
    height:70px;
}
.userInfo .more div{
    margin-top:35px;
    width:14px;
    height:14px;
    background: url(../img/nf.user.png) -4px -43px no-repeat;
    background-size:200px 200px;
}

.no_border{
    border:none  !important;
}

.ps_fp_bz{
    border-top:solid 1px RGB(204,204,204);
    border-bottom:solid 1px RGB(204,204,204);
    background-color:#fff;
    margin-top:10px;
    margin-bottom:20px;
    width:100%;
}

.ps_fp_bz .ps,.fp{
    height:44px;
    margin:0 12px 0 12px;
    border-bottom:solid 1px RGB(222,222,222);
}
.ps_fp_bz .bz{
    margin:0 12px 0 12px;
    border-bottom:solid 1px RGB(222,222,222);
}
.ps_fp_bz .tm{
    height:90px;
}
.tm div{
    font-size:12px;
    margin-left:16px;
    height:30px;
    line-height:30px;
    color:#999;
}
.ps_fp_bz ._left{
    float:left;
    width:70px;
    margin-left:4px;
    font-size:16px;
    text-align:left;
    line-height:44px;
}
.ps_fp_bz ._right{
    /* overflow:auto;两个内部DIV占满一个外部DIV时需要设置这个属性 */
    margin:0px 4px 0px 0px;
    text-align:right;
    font-size:11px;
    color:#333;
    line-height:44px;
}

.ps_fp_bz ._right span{
    color:#da2029;
    font-size:14px;
}

.myscore{
    margin-top:20px;
    border:1px solid #ccc;
    height:44px;
    line-height:44px;
    font-size:16px;
    color:#666;
    margin-left:16px;
    margin-right:16px;
}

.myscore #sp1{
    font-size:19px;
    color:#DA2029;
}

.myscore #sp2{
    font-size:12px;
    color:#999;
}

#scoreList .jf-tit{
    margin-top:20px;
    font-size:16px;
    color:#333;
    margin-left:16px;
    margin-right:16px;
}

#scoreList .tb-tit{
    margin-top:10px;
    height:34px;
    margin-left:16px;
    margin-right:16px;
}
#scoreList .td-tit{
    float:left;
    text-align:center;
    line-height:34px;
    font-size:14px;
    color:#333;
    background-color:#fff1f2;
}


#scoreList .tb-tr{
    height:44px;
    border-bottom:1px solid #ccc;
}

#scoreList .tr-td{
    float:left;
    text-align:center;
    line-height:44px;
}

#scoreList .td1{
    font-size:12px;
    color:#666;
}
#scoreList .td2{
    font-size:12px;
    color:#DA2029;
}

#scoreList .left-td{
    width:30%;
}
#scoreList .right-td{
    width:30%;
}
#scoreList .center-td{
    width:40%;
}

.showMoreScore{
    background-color:#fff;
    margin-top:2px;
    width:100%;
    height:44px;
    text-align:center;
    line-height:44px;
    color:#999;
    border-top:solid 1px RGB(204,204,204);
    border-bottom:solid 1px RGB(204,204,204);
}

.empty-promotion{
    margin:auto;
    width:220px;
}

.empty-promotion img{
    width:220px;
}

.change-pwd{
    width:100%;
    height:44px;
    line-height:44px;
    margin-top:10px;
    font-size:18px;
    color:#666;
    background-color:#fff;
    border-top:solid 1px RGB(204,204,204);
    border-bottom:solid 1px RGB(204,204,204);
}

.login-out{
    display: block;
    width: 100%;
    border-radius: 22px;
}


.tabs-div-list{
    width:100%;
    height:auto;
}


.tabs-div-list .not-selected{
    display:none;
}


.log-info{
    margin-top:18px;
    background-color:#fff;
    border-top:solid 1px RGB(204,204,204);
    border-bottom:solid 1px RGB(204,204,204);
}

.tit{
    height:44px;
    line-height:44px;
    font-size:18px;
    padding-left:20px;
}


#lineDiv{
    width:10px;
    float:left;
    margin-left:28px;
    text-align:center;
    padding-top:10px;
    overflow: hidden;
}


.circle{
    width: 10px;
    height: 10px;
    background: #0a6243;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.circle1{
    margin-left:2px;
    width: 6px;
    height: 6px;
    background: RGB(204,204,204);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.first-line{
    height:62px !important;
}

hr{
    margin-top:0px;
    margin-bottom:0px;
    text-align:center;
    width:1px;
    border-width:0;
    background-color:RGB(218,218,218);
    height:64px;
}

#desDiv{
    margin-left:48px;
}

.log-des{
    margin-top:10px;
    height:60px;
}

.log-des .d1,.log-des .d2{
    height:30px;
    line-height:30px;
}

.log-des .d2{
    font-size:12px;
    color:#999;
}

.addr-empty{
    width:46px;
    height:57px;
    margin:auto;
    background: url(../img/nf.bg2.png) -108px -68px no-repeat;
    background-size:200px 200px;
    margin-top:120px;
}
.addr-empty img{
    width:100%;
}

.order-empty{
    margin:auto;
    margin-top:40%;
    width:52px;
    height:59px;
    text-align:right;
    background: url(../img/nf.bg2.png) -108px -3px no-repeat;
    background-size:200px 200px;
}
.empty-des{
    margin:auto;
    margin-top:10px;
    text-align:center;
    width:100%;
    line-height:32px;
    font-size:14px;
    color:#999;
}
.backToIndex-div{
    margin:auto;
    margin-top:20px;
    width:150px;
}
#backToIndex{
    margin:auto;
    width:150px;
}

.maxDiv{
    height:100%;
    width:100%;
    background-color:#000;
    z-index:2;
    position:fixed;
    bottom:0px;
    opacity: 0.5;
}

.firstLoginShow {
    width:100%;
    height:100%;
    z-index:3;
    position:fixed;
    bottom:0px;
    background: url(../img/fristshow.png) center bottom no-repeat;
    background-size:contain;
}

.text-comment{
    color:#666;
    font-size:12px;
    height:50px;
    width:100%;
    resize:none;
    border:1px solid RGB(222,222,222);
}

.page_title{
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.item_title{
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;

}


.coupon {
    width: 100%;
    margin: 20px 10px 10px 10px;
    height: 100px;
}

.coupon-left {
    float: left;
    width: 57%;
    height: 100%;
    border:  solid #8f8f8f;
    border-width: 1px 0px 1px 1px;
    background: #F89914;
}

.coupon-middle {
    float: left;
    width: 28%;
    height: 100%;
    border: 1px solid #afafaf
}

.coupon-middle div {
    display: block;
    color: #8f8f8f;
    height: 14px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 8px 0px 8px 0px;
}

.coupon-right {
    float: left;
    background: url(../img/nf.user.png) -4px -43px no-repeat;
    background-size: 200px 200px;
    height: 20px;
    width: 20px;
    margin: 40px 0px 40px 4%;
}

.coupon-container {
    /* height: 200px; */
    width: 100%;
    background: #F89914;
}

.container-border {
    background-image: url(../img/icon_chi.png);
    width: 100%;
    height: 15px;
}

.conatiner-border-bottom {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.coupon-title {
    text-align: center;
    color: #fff;
}

.coupon-title-desc-date {
    padding: 0 4%;
    margin: 30px 0px 0px 0px;
    height: 20px;
    white-space: nowrap;
    text-lign: center;
    font-size: 11px;
}

.coupon-title-bar {
    border: solid #fff;
    border-width: 3px 0px 3px 0px;

    height: 2px !important;
    margin: 4px 0px 0px 0px;
}

.coupon-title-bar-left {
    margin-left: 4%;
}

.coupon-title-bar-right {
    float: right;
}

.title-desc {
    padding-top: 10px;
}

.title-desc div {
    float: left;
}

.coupon-amount {
    font-size: 30px;
    color: #fff;
    height: 30px;
    margin: 10px 0px 0px 40px;
}

.coupon-footer {
    /* height: 106px; */
    position:relative;
    color: #fff;
    margin: 0px 0px 0px 40px;
    overflow: hidden;
}

.coupon-footer div {
}

.coupon-footer-desc {
    float: left;
    margin: 66px 0px 0px 0px;
    word-break: break-word;
    width: 60%;
}

.conpon-footer-type {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* IE 9 */
    -moz-transform: rotate(-45deg); /* Firefox */
    -webkit-transform: rotate(-45deg); /* Safari 和 Chrome */
    -o-transform: rotate(-45deg); /* Opera */
    position: absolute;
}

.type-corner {
    width: 0;
    height: 0;
    border-top: 150px solid #fff;
    border-left: 150px solid transparent;
    margin: 30px -95px 0px 0px;
    color: #F89914;
    right: 0px;
    bottom: -80px;
    float:left;
}

.type-desc {
    /* float: right; */
    margin: 60px -75px 0px 0px;
    color: #F89914;
    text-align: center;
    right: 70px;
    bottom: 20px;
    float:left;
}

.indro {
    margin-left: 20px;
}

.indro-desc {
    font-size: 26px;
    color: #8f8f8f;
    padding: 0px 0px 10px 0px;
}

.indro-detail {
    margin-right: 10px;
}

.split {
    wight: 100%;
    height: 1px;
    border-top: 1px solid #8f8f8f;
    padding-bottom: 10px;
}
.coupon-left div {
    color: #fff;
    display: block;
}

.coupon-type {
    height: 14px;
    padding: 8px 0px 8px 10px;
    font-size: 14px;
    font-weight: bold;
    word-wrap: break-word;
}
.clear{
    clear:both;
}

.coupon-denom {
    height: 26px;
    font-size: 26px;
    padding: 7px 0px 7px 10px;
    font-weight: bold;
}

.coupon-desc {
    height: 14px;
    font-size: 14px;
    padding: 8px 0px 8px 10px;
    font-weight: bold;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
