<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.menglin.tripro.dao.CommodityDao" >
  <resultMap id="BaseResultMap" type="com.menglin.tripro.entity.Commodity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="discount_price" property="discountPrice" jdbcType="DOUBLE" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="allowance" property="allowance" jdbcType="INTEGER" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="sales" property="sales" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.menglin.tripro.entity.Commodity" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, price, discount_price, amount, allowance, img, specification, sales, state, 
    add_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  
  <!-- 批量下架上商品 -->
  <update id="soldOutByIds" parameterType="java.util.List" >
    update t_commodity
    set state = 0 <!-- 商品状态1上架0下架 -->
    where id in 
	 <foreach collection="array" item="commodityIds" index="index"  
            open="(" close=")" separator=",">  
            #{commodityIds}  
        </foreach>  
  </update>
  
  <!-- 商品列表 -->
  <select id="selectCommodityList" resultMap="ResultMapWithBLOBs"  >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_commodity
    where 1=1 
    AND state=1
  </select>
  
    <!-- 查询用户记录总数 -->
    <select id="selectCount" parameterType="java.util.Map" resultType="int">
        select count(*) from  t_commodity where 1=1
    </select>
  <!-- 分页查询start 和size查询数据 -->
  <select id="findByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
      select <include refid="Base_Column_List" />,<include refid="Blob_Column_List" />
    	from t_commodity
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_commodity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_commodity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.menglin.tripro.entity.Commodity" >
    insert into t_commodity (id, name, price, 
      discount_price, amount, allowance, 
      img, specification, sales, 
      state, add_time, update_time, 
      description)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{discountPrice,jdbcType=DOUBLE}, #{amount,jdbcType=INTEGER}, #{allowance,jdbcType=INTEGER}, 
      #{img,jdbcType=VARCHAR}, #{specification,jdbcType=VARCHAR}, #{sales,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.menglin.tripro.entity.Commodity" >
    insert into t_commodity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="discountPrice != null" >
        discount_price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="allowance != null" >
        allowance,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="sales != null" >
        sales,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="discountPrice != null" >
        #{discountPrice,jdbcType=DOUBLE},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="allowance != null" >
        #{allowance,jdbcType=INTEGER},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="sales != null" >
        #{sales,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.menglin.tripro.entity.Commodity" >
    update t_commodity
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="discountPrice != null" >
        discount_price = #{discountPrice,jdbcType=DOUBLE},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="allowance != null" >
        allowance = #{allowance,jdbcType=INTEGER},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="sales != null" >
        sales = #{sales,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.menglin.tripro.entity.Commodity" >
    update t_commodity
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      discount_price = #{discountPrice,jdbcType=DOUBLE},
      amount = #{amount,jdbcType=INTEGER},
      allowance = #{allowance,jdbcType=INTEGER},
      img = #{img,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      sales = #{sales,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.menglin.tripro.entity.Commodity" >
    update t_commodity
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      discount_price = #{discountPrice,jdbcType=DOUBLE},
      amount = #{amount,jdbcType=INTEGER},
      allowance = #{allowance,jdbcType=INTEGER},
      img = #{img,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      sales = #{sales,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>