<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.menglin.triproapp.dao.AdminDao" >
  <resultMap id="BaseResultMap" type="com.menglin.triproapp.entity.Admin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="admin_pass" property="adminPass" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, admin_name, admin_pass
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_common_admin
    where id = #{id,jdbcType=INTEGER}
  </select>
  
    <!-- 根据用户名称和密码查询用户信息 -->
  <select id="selectByNameAndPass" parameterType="Map" resultMap="BaseResultMap">
       SELECT
	  <include refid="Base_Column_List" />
	FROM
	t_common_admin t
	WHERE
	t.admin_name = #{adminName,jdbcType=VARCHAR} AND t.admin_pass = #{adminPass,jdbcType=VARCHAR}
  </select>
  
  
  <!-- 根据用户名称查询用户信息 -->
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
       SELECT
	  <include refid="Base_Column_List" />
	FROM
	t_common_admin t
	WHERE
	t.admin_name = #{adminName,jdbcType=VARCHAR} 
  </select>
  
   <!-- 查询用户记录总数 -->
    <select id="selectCount" parameterType="Map" resultType="int">
        select count(*)  from t_common_admin
    </select>
  <!-- 分页查询start 和size查询数据 -->
  <select id="findByPage" parameterType="Map" resultMap="BaseResultMap">
      select <include refid="Base_Column_List" />
    	from t_common_admin
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_common_admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.menglin.triproapp.entity.Admin" >
    insert into t_common_admin (id, admin_name, admin_pass
      )
    values (#{id,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{adminPass,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.menglin.triproapp.entity.Admin" >
    insert into t_common_admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="adminName != null" >
        admin_name,
      </if>
      <if test="adminPass != null" >
        admin_pass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPass != null" >
        #{adminPass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.menglin.triproapp.entity.Admin" >
    update t_common_admin
    <set >
      <if test="adminName != null" >
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPass != null" >
        admin_pass = #{adminPass,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.menglin.triproapp.entity.Admin" >
    update t_common_admin
    set admin_name = #{adminName,jdbcType=VARCHAR},
      admin_pass = #{adminPass,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>