<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.menglin.triproapp.dao.CommodityDetailsDao">
  <resultMap id="BaseResultMap" type="com.menglin.triproapp.entity.CommodityDetails">
    <id column="detailsId" jdbcType="INTEGER" property="detailsid" />
    <result column="commodity_Id" jdbcType="INTEGER" property="commodityId" />
    <result column="seckill_Id" jdbcType="INTEGER" property="seckillId" />
    <result column="details_01" jdbcType="VARCHAR" property="details01" />
    <result column="details_02" jdbcType="VARCHAR" property="details02" />
    <result column="details_03" jdbcType="VARCHAR" property="details03" />
    <result column="details_04" jdbcType="VARCHAR" property="details04" />
    <result column="details_05" jdbcType="VARCHAR" property="details05" />
    <result column="details_06" jdbcType="VARCHAR" property="details06" />
    <result column="details_07" jdbcType="VARCHAR" property="details07" />
    <result column="details_08" jdbcType="VARCHAR" property="details08" />
    <result column="details_09" jdbcType="VARCHAR" property="details09" />
    <result column="details_10" jdbcType="VARCHAR" property="details10" />
  </resultMap>
  <sql id="Base_Column_List">
   detailsId, commodity_Id AS commodityId,seckill_Id AS seckillId, details_01 AS details01, details_02 AS details02 , details_03 AS details03, details_04 AS details04,
    details_05 AS details05 , details_06 AS details06, details_07 AS details07, details_08 AS details08 , details_09 AS details09,
    details_10 AS details10
  </sql>
  
  
   <!-- 通过商品ID查询详情图 -->
  <select id="findByCommodityId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_commodity_details
    where commodity_Id = #{commodityId,jdbcType=INTEGER}
  </select>
  
   <!-- 通过秒杀商品ID查询详情图 -->
  <select id="findByCommoditySeckillId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_commodity_details
    where seckill_Id = #{seckillId,jdbcType=INTEGER}
  </select>
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_commodity_details
    where detailsId = #{detailsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_commodity_details
    where detailsId = #{detailsid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.menglin.triproapp.entity.CommodityDetails">
    insert into t_commodity_details (detailsId, commodity_Id, seckill_Id, 
      details_01, details_02, details_03, 
      details_04, details_05, details_06, 
      details_07, details_08, details_09, 
      details_10)
    values (#{detailsid,jdbcType=INTEGER}, #{commodityId,jdbcType=INTEGER}, #{seckillId,jdbcType=INTEGER}, 
      #{details01,jdbcType=VARCHAR}, #{details02,jdbcType=VARCHAR}, #{details03,jdbcType=VARCHAR}, 
      #{details04,jdbcType=VARCHAR}, #{details05,jdbcType=VARCHAR}, #{details06,jdbcType=VARCHAR}, 
      #{details07,jdbcType=VARCHAR}, #{details08,jdbcType=VARCHAR}, #{details09,jdbcType=VARCHAR}, 
      #{details10,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.menglin.triproapp.entity.CommodityDetails">
    insert into t_commodity_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="detailsid != null">
        detailsId,
      </if>
      <if test="commodityId != null">
        commodity_Id,
      </if>
      <if test="seckillId != null">
        seckill_Id,
      </if>
      <if test="details01 != null">
        details_01,
      </if>
      <if test="details02 != null">
        details_02,
      </if>
      <if test="details03 != null">
        details_03,
      </if>
      <if test="details04 != null">
        details_04,
      </if>
      <if test="details05 != null">
        details_05,
      </if>
      <if test="details06 != null">
        details_06,
      </if>
      <if test="details07 != null">
        details_07,
      </if>
      <if test="details08 != null">
        details_08,
      </if>
      <if test="details09 != null">
        details_09,
      </if>
      <if test="details10 != null">
        details_10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="detailsid != null">
        #{detailsid,jdbcType=INTEGER},
      </if>
      <if test="commodityId != null">
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="seckillId != null">
        #{seckillId,jdbcType=INTEGER},
      </if>
      <if test="details01 != null">
        #{details01,jdbcType=VARCHAR},
      </if>
      <if test="details02 != null">
        #{details02,jdbcType=VARCHAR},
      </if>
      <if test="details03 != null">
        #{details03,jdbcType=VARCHAR},
      </if>
      <if test="details04 != null">
        #{details04,jdbcType=VARCHAR},
      </if>
      <if test="details05 != null">
        #{details05,jdbcType=VARCHAR},
      </if>
      <if test="details06 != null">
        #{details06,jdbcType=VARCHAR},
      </if>
      <if test="details07 != null">
        #{details07,jdbcType=VARCHAR},
      </if>
      <if test="details08 != null">
        #{details08,jdbcType=VARCHAR},
      </if>
      <if test="details09 != null">
        #{details09,jdbcType=VARCHAR},
      </if>
      <if test="details10 != null">
        #{details10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.menglin.triproapp.entity.CommodityDetails">
    update t_commodity_details
    <set>
      <if test="commodityId != null">
        commodity_Id = #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="seckillId != null">
        seckill_Id = #{seckillId,jdbcType=INTEGER},
      </if>
      <if test="details01 != null">
        details_01 = #{details01,jdbcType=VARCHAR},
      </if>
      <if test="details02 != null">
        details_02 = #{details02,jdbcType=VARCHAR},
      </if>
      <if test="details03 != null">
        details_03 = #{details03,jdbcType=VARCHAR},
      </if>
      <if test="details04 != null">
        details_04 = #{details04,jdbcType=VARCHAR},
      </if>
      <if test="details05 != null">
        details_05 = #{details05,jdbcType=VARCHAR},
      </if>
      <if test="details06 != null">
        details_06 = #{details06,jdbcType=VARCHAR},
      </if>
      <if test="details07 != null">
        details_07 = #{details07,jdbcType=VARCHAR},
      </if>
      <if test="details08 != null">
        details_08 = #{details08,jdbcType=VARCHAR},
      </if>
      <if test="details09 != null">
        details_09 = #{details09,jdbcType=VARCHAR},
      </if>
      <if test="details10 != null">
        details_10 = #{details10,jdbcType=VARCHAR},
      </if>
    </set>
    where detailsId = #{detailsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.menglin.triproapp.entity.CommodityDetails">
    update t_commodity_details
    set commodity_Id = #{commodityId,jdbcType=INTEGER},
      seckill_Id = #{seckillId,jdbcType=INTEGER},
      details_01 = #{details01,jdbcType=VARCHAR},
      details_02 = #{details02,jdbcType=VARCHAR},
      details_03 = #{details03,jdbcType=VARCHAR},
      details_04 = #{details04,jdbcType=VARCHAR},
      details_05 = #{details05,jdbcType=VARCHAR},
      details_06 = #{details06,jdbcType=VARCHAR},
      details_07 = #{details07,jdbcType=VARCHAR},
      details_08 = #{details08,jdbcType=VARCHAR},
      details_09 = #{details09,jdbcType=VARCHAR},
      details_10 = #{details10,jdbcType=VARCHAR}
    where detailsId = #{detailsid,jdbcType=INTEGER}
  </update>
</mapper>