<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.menglin.triproapp.dao.OrderItemDao" >
  <resultMap id="BaseResultMap" type="com.menglin.triproapp.entity.OrderItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="commodity_name" property="commodityName" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="commodity_id" property="commodityId" jdbcType="INTEGER" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id AS orderId, img, commodity_name AS commodityName , amount, price, commodity_id AS commodityId, specification
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!--根据订单orderId，查询商品信息归属 -->
    <select id="selectListByOrderId" resultType="com.menglin.triproapp.entity.OrderItem" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_order_item
        where order_id =#{orderId}
    </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.menglin.triproapp.entity.OrderItem" >
    insert into t_order_item (id, order_id, img, 
      commodity_name, amount, price, 
      commodity_id, specification)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, 
      #{commodityName,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}, 
      #{commodityId,jdbcType=INTEGER}, #{specification,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.menglin.triproapp.entity.OrderItem" >
    insert into t_order_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="commodityName != null" >
        commodity_name,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="commodityId != null" >
        commodity_id,
      </if>
      <if test="specification != null" >
        specification,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null" >
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="commodityId != null" >
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.menglin.triproapp.entity.OrderItem" >
    update t_order_item
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null" >
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="commodityId != null" >
        commodity_id = #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.menglin.triproapp.entity.OrderItem" >
    update t_order_item
    set order_id = #{orderId,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      commodity_name = #{commodityName,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      commodity_id = #{commodityId,jdbcType=INTEGER},
      specification = #{specification,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>